---
import Definition from "../components/words/Definition.astro";
import Etymology from "../components/words/Etymology.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const dictionary = await getCollection("words");
  return dictionary.map((word) => ({
    params: { slug: word.id },
    props: { word },
  }));
}

const { word } = Astro.props;
---

<Layout title={"Définition : " + word.data.mot}>
  <main class="container px-6 pt-6 mx-auto space-y-6 md:px-0">
    <Definition word={word} />
    <Etymology word={word} />
  </main>
</Layout>
