---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import blondeWoman from "../assets/lablonde-light.svg";
import blondeWoman_dark from "../assets/lablonde-white.svg";
import PopoverDefinition from "../components/words/PopoverDefinition.astro";
---

<Layout title="Dictionnaire Lablonde">
  <main class="container max-w-4xl mx-auto mt-10">
    <section class="flex flex-col items-center px-4">
      <div class="w-1/3">
        <Image
          src={blondeWoman}
          widths={[240, 340]}
          width="340"
          alt="Une femme blonde soufflant sur un pissenlit."
          class="block mx-auto dark:hidden"
        />
        <Image
          src={blondeWoman_dark}
          widths={[240, 340]}
          width="340"
          alt="Une femme blonde soufflant sur un pissenlit."
          class="hidden mx-auto dark:block"
        />
      </div>
      <div class="">
        <h1
          class="mb-5 text-6xl text-center text-yellow-500 uppercase font-title md:text-9xl"
        >
          Lablonde
        </h1>
        <h1
          class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-center text-gray-900 md:text-4xl dark:text-white"
        >
          Le dictionnaire des <PopoverDefinition
            wordId="alainde"
            triggerContent="néochrestologismes"
            classList="underline underline-offset-3 decoration-4 decoration-yellow-400"
          /><sup class="text-sm md:text-xl -top-3">1</sup>
        </h1>

        <p
          class="text-base font-normal text-left text-gray-500 md:text-lg dark:text-gray-300"
        >
          <sup class="text-xs">1</sup><span class="text-xs italic md:text-sm"
            >nom masculin, du grec ancien νέος/néos, « nouveau »,
            χρηστός/chrestos, « utile », et λόγος/lógos, « parole ».
          </span><br /> Néologisme utile duquel le lecteur réalise avoir besoin
          seulement après l'avoir découvert.
        </p>
      </div>
    </section>
  </main>
</Layout>
