---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Searchbar from "../components/Searchbar.astro";
import blondeWoman from "../assets/lablonde-light.svg";
import blondeWoman_dark from "../assets/lablonde-white.svg";
---

<Layout title="Dictionnaire Lablonde">
  <main class="container mx-auto mt-10">
    <section
      class="flex flex-col items-center px-4 lg:flex-row lg:space-x-10 xl:space-x-20 md:px-0"
    >
      <div class="w-2/5 xl:w-1/4">
        <Image
          src={blondeWoman}
          widths={[240, 340]}
          width="340"
          alt="Une femme blonde soufflant sur un pissenlit."
          class="block mx-auto dark:hidden"
        />
        <Image
          src={blondeWoman_dark}
          widths={[240, 340]}
          width="340"
          alt="Une femme blonde soufflant sur un pissenlit."
          class="hidden mx-auto dark:block"
        />
      </div>
      <div class="">
        <h1
          class="mb-5 text-6xl text-center text-yellow-500 uppercase font-title md:text-9xl lg:text-left lg:-ml-2"
        >
          Lablonde
        </h1>
        <h1
          class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-center text-gray-900 md:text-4xl lg:text-6xl lg:text-left dark:text-white"
        >
          Le dictionnaire des <span
            class="underline underline-offset-3 decoration-4 lg:decoration-8 decoration-yellow-400"
            >néochrestologismes</span
          ><sup class="text-sm md:text-xl -top-3 lg:text-2xl lg:-top-6">1</sup>
        </h1>
        <p
          class="text-base font-normal text-gray-500 md:text-lg lg:text-xl dark:text-gray-300"
        >
          <sup class="text-xs">1</sup><span class="text-xs italic md:text-sm"
            >nom masculin, du grec ancien νέος/néos, « nouveau »,
            χρηστός/chrestos, « utile », et λόγος/lógos, « parole ».
          </span><br /> Néologisme utile duquel le lecteur réalise avoir besoin
          seulement après l'avoir découvert.
        </p>
      </div>
    </section>
    <section
      class="flex flex-col items-center px-4 lg:flex-row lg:space-x-10 xl:space-x-20 md:px-0"
    >
    </section>
  </main>
</Layout>
