---
import ThemeToggle from "./ThemeToggle";
import { Image } from "astro:assets";
import blondeWoman from "../assets/lablonde-light.png";
import Searchbar from "./Searchbar.astro";
---

<nav class="bg-white dark:bg-gray-900 border-yellow-500 border-b dark:border-0">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <Image
        src={blondeWoman}
        width="140"
        alt="Lablonde Logo."
        class="h-8 w-8"
      />
      <span
        class="self-center text-2xl whitespace-nowrap text-yellow-500 uppercase font-title"
        >Lablonde</span
      >
    </a>
    <div class="flex justify-end md:order-1 w-1/3">
      <button
        type="button"
        data-collapse-toggle="navbar-search"
        aria-controls="navbar-search"
        aria-expanded="false"
        class="md:hidden text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 me-1"
      >
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 20"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
        </svg>
        <span class="sr-only">Rechercher</span>
      </button>
      <button
        data-collapse-toggle="navbar-search"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-search"
        aria-expanded="false"
      >
        <span class="sr-only">Ouvrir le menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
      <div class="relative hidden md:block w-full">
        <Searchbar />
      </div>
    </div>

    <div
      class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
      id="navbar-search"
    >
      <div class="relative mt-3 md:hidden order-5">
        <Searchbar />
      </div>
      <ul
        class="flex flex-col order-1 p-4 md:p-0 mt-4 font-medium border border-gray-300 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700"
      >
        <li>
          <a
            href="/"
            class="block py-2 px-3 text-white bg-yellow-600 rounded md:bg-transparent md:text-yellow-600 md:p-0 md:dark:text-yellow-500"
            aria-current="page">Accueil</a
          >
        </li>
        <li>
          <a
            href="#"
            class="block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-yellow-600 md:p-0 md:dark:hover:text-yellow-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
            >À propos</a
          >
        </li>
        <li><ThemeToggle client:idle /></li>
      </ul>
    </div>
  </div>
</nav>
<script>
  import { Collapse } from "flowbite";
</script>
